{% extends 'headercustomer.html' %}

{% block mycontent %}

<!-- <style>
    body{
        background-image: linear-gradient(blue,green);
        height: 100vh;
      }
    </style> -->



    <div class="container">
        <div class="row">
                <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
                <div class="col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                    <h1 style="color: darkgrey; font-size: large; font-style: initial;" >UPDATE</h1>
 
                   
                    <form action="http://127.0.0.1:8000/Admin/updateapi/" method="post">

                      <table class="table table-borderless" class="form-control">
                        <tr>
                            <td>mobileno</td>
                            <td><input name="mobileno" type="number" class="form-control"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button  type="submit" class="btn btn-info">SEARCH</button></td>
                        </tr>
                       </table>
                    </form>
                         {% if data %}    
                         <form action="http://127.0.0.1:8000/Admin/updatedata/" method="post">
                            <table class="table table-borderless">
                                {% for i in data %}
                                <tr>
                                    <td> </td>
                                    <td><input name="newid" value="{{i.id}}" type="hidden" class="form-control"></td>
                                </tr>
    
                                
                                <tr>
                                    <td>Name</td>
                                    <td><input name="newname" value="{{i.name}}" type="text" class="form-control" ></td>
                                </tr>
                                <tr>
                                    <td>DOB</td>
                                    <td><input name="newDOB" value="{{i.DOB}}" type="text" class="form-control" ></td>
                                </tr>
                                <tr>
                                    <td>User Name</td>
                                    <td><input name="newusername" value="{{i.username}}" type="text" class="form-control" ></td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td><input name="newpassword" value="{{i.password}}" type="hidden" class="form-control" ></td>
                                </tr>
                                <tr>
                                    <td>Purchase Date</td>
                                    <td><input name="newpurchase_date" value="{{i.purchase_date}}" type="date" class="form-control" ></td>
                                </tr>
                                <tr>
                                    <td>product type</td>
                                    <td><select name="newproduct_type" value="{{i.product_type}}" id="" class="form-control">           
                                        <option value="Pre-paid">Pre-paid</option>
                                        <option value="Postpaid">Postpaid</option>
                                        <option value="Dongle">Dongle</option>
                                        </select></td>
        
                                </tr>
                                <tr>
                                    <td>Gender</td>
                                    <td><input  name="newgender" value="{{i.gender}}" type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td><input  name="newaddress" value="{{i.address}}" type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>pincode</td>
                                    <td><input  name="newpincode" value="{{i.pincode}}" type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>Mobileno</td>
                                    <td><input   name="newmobileno" value="{{i.mobileno}}" type="number" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><input   name="newemail" value="{{i.email}}" type="email" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>Adharno</td>
                                    <td><input   name="newadharno" value="{{i.adharno}}" type="text" class="form-control"></td>
                                </tr>
                                
                                <tr>
                                    <td></td>
                                    <td><button  type="submit" class="btn btn-danger">UPDATE</button></td>
                                </tr>
                         </form>

                            {% endfor %}
                         </table> 
                            {% endif %}


                    </div>
                    <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
            </div>
        </div>
        
    
{% endblock %}